---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="5minって誰?"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2024/4/4")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>こんにちは! 5minと申します!</p>
  <p>普段はScratchで活動しており、主にゲームを投稿しています!(常時ネタ切れ)</p>
</Layout>
