---
import { Github, Scratch, Zenn } from 'simple-icons-astro';

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} 5min All rights reserved.
  <div class='social-links'>
    <a href='https://github.com/team5min' target='_blank'>
      <span class='sr-only'>GitHub</span>
      <Github />
    </a>
    <a href='https://scratch.mit.edu/users/-5min-/' target='_blank'>
      <span class='sr-only'>Scratch</span>
      <Scratch />
    </a>
    <a href='https://zenn.dev/5min' target='_blank'>
      <span class='sr-only'>Zenn</span>
      <Zenn />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
